        body {
            margin: 0px 0 0px;
            background-color: #fff;
            /*rgba(51, 51, 51, 0.11);*/
            font-family: 'Raleway', sans-serif;
            /*'Merriweather', serif;*/
            font-size: 13px;
            overflow-x: hidden !important;
        }
        
        html,
        body {
            max-width: 100%;
            overflow-x: hidden !important;
        }
        
        a {
            color: #50baf2;
        }
        
        #logo-color {
            color: #fff;
        }
        
        .navbar-brand a {
            color: #fff;
        }
        
        .navbar-header a {
            color: #73EEDC;
        }
        
        #header-background-color {
            background-color: #04030F;
            height: 9em;
        }
        
        .entry-header h1 {
            /*font-family: 'Cabin', sans-serif;*/
            font-family: 'Raleway', sans-serif;
            margin-top: 1.5em;
        }
        
        p {
            line-height: 1.75em;
        }
        
        h1,
        h2 {
            font-family: 'Raleway', sans-serif;
            margin-top: 1.5em;
        }
        
        h3 {
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            text-align: center;
        }
        
        .blog-element {
            display: block;
            height: 200px;
            overflow: hidden;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        repeat {
            background-size: cover;
        }
        
        .blog-element a {
            color: #fff;
            text-shadow: 0 1px 3px rgba(0, 0, 0, .5)
        }
        
        no-margin {
            margin: 0;
        }
        
        .blog-item {
            padding: 0;
        }
        
        h1 a {
            color: black;
        }
        
        .menu {
            background-color: lightgray;
        }
        /*adjusting Bootstrap by adding top and bottom padding*/
        
        .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
            padding-bottom: 1px;
            padding-top: 1px;
        }
        
        .carousel {
            /* position: ; */
            /*margin-right: -15px;*/
            padding-right: 0px;
        }
        
        #home-photo {
            border-radius: 20px;
            background-color: #324f7b;
            margin-top: 78px;
            border-style: double;
            border-color: #838176;
        }
        
        #home-photo img {
            margin-left: -15px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            margin-top: 100px;
        }
        
        #post-content-background {
            background-color: #f8f9fb;
            margin-top: 5em;
        }
        /* sticky footer bootstrap code */
        
        html {
            position: relative;
            min-height: 100%;
        }
        
        .footer {
            /*position: absolute;*/
            /*bottom: 0;*/
            width: 100%;
            /* Set the fixed height of the footer here */
            background-color: #ebecf0;
            /*#e11b5c*/
            padding: 13px 0px 7px;
        }
        
        .footer-wrapper {
            margin-top: 10%;
            margin-left: 0px;
            margin-right: 0px;
        }
        
        #footer-right {
            font-size: 10px;
            color: #04030F;
            padding: 10px;
            text-align: center;
        }
        
        .social-icon {
            text-align: center;
        }
        
        .social-icon a {
            color: #3bb3f0;
            text-align: center;
        }
        
        .full-width-container {
            width: 100%;
            padding: 0px;
        }
        
        #frmCSCF {
            margin-top: 2em;
        }
        
        .cscfForm {
            width: 60%;
        }
        
        .navbar-brand {
            font-family: 'Audiowide';
            font-size: 35px;
            color: #fff;
        }
        /******Milligram CSS Now Used Instead of Bootstrap 5/14/17*******/
        
        .container {
            max-width: 100%;
            /* Cancels out Milligram setting */
            padding: 0;
            /* Cancels out Milligram setting */
            overflow-x: hidden !important;
        }
        
        .heading {
            /*align-items: center;*/
        }
        
        .heading p {
            font-weight: bold;
            font-size: 1.3em;
            color: #04030F;
        }
        
        #profile-photo {
            margin-left: 0;
        }
        
        #profile-photo img {
            border-radius: 50%;
        }
        
        #ul-style {
            color: #3bb3f0;
            line-height: 1.0;
        }
        
        #ul-style i {
            color: #606c76;
        }
        
        .top-background-color {
            background-color: #f8f9fb;
            padding: 5em 0 3em;
        }
        
        .second-background-color {
            background-color: #fff;
            padding: 5em 0 5em;
        }
        
        .bottom-background-color {
            background-color: #f8f9fb;
            padding: 5em 0 5em;
        }
        
        hr {
            border-top-color: #606c76;
        }
        
        .aligner-logo {
            /*display: flex;*/
            margin-top: auto;
        }
        
        #logo-mail-icon {
            margin: 4.5rem 3rem;
            font-family: FontAwesome;
        }
        
        #logo-mail-icon i {
            color: #3bb3f0;
            font-size: 2rem;
        }
        
        .button {
            border-color: #3bb3f0;
            border-radius: 2rem;
            padding: .6rem;
            line-height: 2.9;
            height: 3.8rem;
            letter-spacing: 0rem;
            border: .14rem solid #fff;
        }
        
        .button-outline {
            background-color: purple;
        }
        
        .fa-envelope {
            padding: .25rem;
        }
        
        .flex-direction-row {
            flex-direction: row;
        }
        
        .column-border {
            border-right: .12rem solid #ebecec;
            position: relative;
            padding-right: 5%;
            text-align: right;
        }
        
        .ulborder {
            /*   content: "&#xf110"; 
   
    padding-left: 5px;*/
            color: #3bb3f0;
            position: absolute;
            top: .24rem;
            right: -.67rem;
        }
        
        .ulborder i {
            background-color: #fff;
        }
        /* created below class, which is a smaller version of the ones already created by Milligram CSS */
        
        .col2ndsection {
            margin: 0% 9% 0% 5%;
        }
        
        .experience-header {
            color: #50baf2;
            font-weight: bold;
            margin-bottom: .2rem;
        }
        
        .experience-subheader {
            font-style: italic;
        }
        
        .portfolio-row {
            margin-bottom: 2rem;
        }
        
        .portfolio-border {
            border-style: solid;
            border-color: black;
            border-width: thin;
        }
        
        figcaption {
            margin-left: 2.2rem;
        }
        /* Styling for Magnific-Popup jQuery contact form.  */
        
        .white-popup {
            position: relative;
            background: #FFF;
            padding: 20px;
            width: auto;
            max-width: 500px;
            margin: 20px auto;
        }
        /****************************************************/
        /* Mangnific Popup Animation fade in Styles - http://dimsemenov.com/plugins/magnific-popup/documentation.html#animation */
        /*overlay at start */
        /* End of Magnific Animation Styles */
        /* Styling for JS-AJAX-PHP contact form */
        
        form {
            margin: 0
        }
        
        form label {
            margin-bottom: .2em;
            font-size: 1.3rem;
            line-height: 1.3rem;
            font-size: 13px;
            line-height: 13px;
            color: #50baf2
            /*#e6e6e1*/
            ;
            /*text-shadow:.1px .1px #202020*/
        }
        
        form label.error {
            margin-bottom: 1em;
            font-size: 1.2rem;
            line-height: 1.2rem;
            font-size: 12px;
            line-height: 12px;
            color: #c0392b
        }
        
        form input[type="text"],
        form textarea {
            margin-bottom: 1.25em;
            font-family: "Inconsolata", sans-serif;
            font-size: 1.4rem;
            line-height: 1.4rem;
            font-size: 14px;
            line-height: 14px;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            background: #f8f9fb;
            border: 1px solid #191919;
            -moz-border-radius: 0.2em;
            -webkit-border-radius: 0.2em;
            border-radius: 0.2em
        }
        
        form input[type="text"]:focus,
        form textarea:focus {
            border-color: #191919;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none
        }
        
        form input[type="text"][disabled],
        form textarea[disabled] {
            background: #fff
        }
        
        form input[type="text"].error,
        form textarea.error {
            background: #e6e6e6;
            border-color: #c0392b
        }
        
        fieldset {
            border: 0px;
            margin: 0;
            padding: 0
        }
        
        .required {
            color: #e9266d
        }
        
        #success,
        #error {
            display: none
        }
        
        #success span,
        #erro span {
            display: block;
            position: absolute;
            top: 0;
            width: 100%
        }
        
        #success span p,
        #error span p {
            margin-top: 6em
        }
        
        #success span p {
            color: #9bd32d;
        }
        
        #error span p {
            color: #c0392b;
        }
        /* End of JS-AJAX-PHP contact form */
        /* pop form button styling */
        
        .button,
        button,
        input[type='button'],
        input[type='reset'],
        input[type='submit'] {
            background-color: #50baf2;
            border: 0.1rem solid #50baf2;
        }
        /* Changing styles from the slick-theme.css file */
        
        .slick-prev:before,
        .slick-next:before {
            color: #50baf2;
        }
        /* Slick slider Styles */
        
        .my-slick-div {
            background-color: #f8f9fb;
            margin-left: 1.5rem;
        }
        
        .slick-slide {
            padding: 3rem;
            /*text-align: justify;*/
        }
        /* End Slick slider styles */
        
        #find-me {
            display: inline-flex;
            margin-bottom: 3rem;
        }
        
        .fa-lg {
            font-size: 2.3rem;
        }
        
        .center-recommendations {
            justify-content: center;
        }
        
        #headshot {
            margin-left: 33%;
        }
        /* MEDIA QUERIES BELOW */
        /* Extra small devices (phones, less than 768px) */
        /* Devices with Max Width 768px */
        
        @media (max-width: 640px) {
            /* #headshot {
                margin-left: 33%;
            } */
            #div-photo-ul {
                margin-left: 33%;
            }
        }
        
        @media (max-width: 768px) {
            #recommendations-width {
                max-width: 60%;
            }
        }
        /* Larger than Mobile screen: 40.0rem (640px) - rem is used in Milligram CSS */
        
        @media (min-width: 40.0rem) {
            .column-30 p {
                margin-top: 2.5em;
            }
            #column-border-id {
                padding-right: 5%;
                padding-left: 4rem;
            }
            #div-photo-ul {
                margin-top: 5rem;
            }
        }
        /* Small devices (tablets, 768px and up) */
        
        @media (min-width: 768px) {
            /* #div-photo-ul {
                margin-top: 2.85rem;
                padding-left: 0;
            } */
            #profile-photo {
                margin-left: 1rem;
            }
            .col2ndsection {
                margin: 0% 15% 0% 5%;
            }
            figcaption {
                margin-left: 0rem;
                text-align: center;
            }
        }
        /* Medium devices (desktops, 992px and up) */
        
        @media (min-width: 992px) {}
        
        @media (max-width: 1024px) {}
        
        @media (min-width: 1024px) {
            .col2ndsection {
                margin: 0% 20% 0% 5%;
            }
        }
        /* Large devices (large desktops, 1200px and up) */
        
        @media (min-width: 1200px) {}