body { 
margin-top: 50px;
margin-bottom: 60px; /* sticky footer code from Bootstrap */
background-color: rgba(51, 51, 51, 0.11);
font-family: Sentinel SSm A, Sentinel SSm B; /* replaced san serif */
font-size: 19px; /* bootstrap was 14px */
}

.carousel { background: #000; }
.carousel .item { height: 150px; overflow: hidden; }
.carousel .item img { width: 100%; height: auto; margin-top: -35%; }
.carousel-caption a { color: #fff; }

.blog-element { display: block; height: 200px; overflow: hidden; background-position: center center; background-repeat: no-repeat; background-size: cover; }
repeat; background-size: cover; }
.blog-element a { color: #fff; text-shadow: 0 1px 3px rgba(0,0,0,.5) }

/*
.second-row-padding:nth-child(2) { padding-right: 0; }
.second-row-padding:nth-child(3) { padding-left: 0; }

.third-row-padding { padding: 0; }
.third-row-padding:nth-child(4) { padding-left: 15px; }
.third-row-padding:last-child { padding-right: 15px; }
*/

/*I commented this out before to get rid of upper left dot in front page.*/
no-margin { margin: 0; }  

.blog-item { padding: 0; }

/* header search form ============*/
.search-form-container { display: none; position: fixed; top: 50px; left: 0; right: 0; background-color: rgba(0,0,0,.35); padding: 20px; z-index: 2; }
.open-search a { font-size: 0; width: 30px; position: relative; }
.open-search a:after { 
position: absolute; 
display: block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: 400;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content:"\e003";
font-size: 20px;
left: 0;
top: 50%;
line-height: 1em;
margin-top: -0.5em;
 }

/*  Changing Bootstrap default of min-width on 1200px desktop. */  
 @media (min-width:1200px){
	.container {
width:1050px
}
}



/*
#copy, #logo {
    opacity: 1;
    position: absolute;
    margin:auto;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
*/









#homemiddle {
	margin-top: 10px;
	border-top-width: 0px;
	border-style: ;
}

#aboveslider {
	*margin-top: -105px;
}


/*front home page post content */
.post-32 {
	
}

/* re-sized Bootstrap upper left Brand Site Name in Header */
.navbar-brand {
	font-size: 19px;
}

img {
    border: 5px;
    margin-top: 110px;
    border-radius: 18px;
    margin-left: -15px;
    padding-left: 0px;


}

h1 a {
	color: black;
}

.menu {
	background-color: lightgray;
}

hr {

}

.col-xs-12 {
	margin-top: 0px;
}

.full-width-container {
 	width: 100%;
 	padding: 0px;
 }

/*
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 2px;
    */

/*adjusting Bootstrap by adding top and bottom padding*/
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    padding-bottom: 1px;
    padding-top: 1px;
}

.carousel {
    position: ;
    margin-right: -15px;
    padding-right: 0px;
    margin-left: 0px
}

#footer {
	background-color: #f4b642;
	padding-bottom: 15px;
	/*margin-bottom: 0px;*/
	margin-right: -14px;
}

#home-photo {
	border-radius: 20px;
	background-color: #838176;
    margin-top: 78px;
    border-style: double;
    border-color: black;
}




/*
#home-photo-inner {
	background-color: #f4b642;
	border-radius: 7px;
	margin-top: 50%;
	margin-left: -14px;
}
*/

#post-content-background {
	border-radius: 20px;
    border-style: double;
    border-color: #838176;/*#f4b642;*/
}


/* sticky footer bootstrap code */
html {
  position: relative;
  min-height: 100%;

}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #e11b5c;
  padding: 13px 0px 7px;
}

#footer-right {
	font-size: 14px;
	color: lightgray;
	padding: 10px;
}

.social-icon a {
	color: lightgray;
}







